
@import url('comum.css');

   .termos-container {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05); 
    margin: 40px auto 80px auto;
    max-width: 900px;
    line-height: 1.6; 
}

.termos-container h1 {
    color: var(--cor-roxa-escura);
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.termos-container h2 {
    color: var(--cor-roxa-principal);
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 1.6rem;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 5px;
}

.termos-container p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #444;
    text-align: justify;
}

.termos-container ul {
    margin-bottom: 20px;
    padding-left: 40px;
}

.termos-container li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #444;
}

.termos-container strong {
    color: #000;
}


@media (max-width: 768px) {
    .termos-container {
        padding: 30px 20px;
        margin: 20px auto 40px auto;
    }
    .termos-container h1 {
        font-size: 2rem;
    }
    .termos-container h2 {
        font-size: 1.3rem;
    }
}


